.heading
{
    width: 100%;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 1px solid white;
}

#start,#status
{
    font-size: 22px;
}
 .modal-body
 {
    text-align: left;
 }

 .modal-dialog
 {
    width: 80%;
 }

 canvas 
 {
    border-style: dashed;
    border-width: 5px;
    border-color: goldenrod;
 }